* {
	@apply border-border;
}
body {
	@apply bg-background text-foreground;
	.body-inner {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		min-height: 100dvh;
	}
}

main {
	flex-grow: 1;
}

[data-scale-main-wrapper] {
	--scale: 1;
	transition: transform 200ms cubic-bezier(.4,0,0,1);
	transform: scale(var(--scale));
	height: 100vh;
	&.scale {
		--scale: 0.98;
	}
}

