* {
	@apply border-border;
}
#stashlist {
	@apply  text-foreground;
	min-height: 100%;
}
body, main {
	height: 100vh;
	background-color: transparent;
}
main {
	@apply bg-background rounded-[10px] overflow-hidden;
}

/* [data-sonner-toaster] {
	--mobile-offset: 0px !important;
	--offset: 12px;
}
[data-sonner-toast] {
	width: fit-content !important;
    transform: translateX(50%);
} */